i.icon-2x {
  font-size: 30px;
}

.color-light{
    color:#000000;
}

.servive-block {
  padding: 20px 50px;
  border-radius: 10px 10px;
  text-align: center;
  margin-bottom: 20px;
}

.servive-block p,
.servive-block h2 {
  color: rgb(0, 0, 0);
}

.servive-block h2 a:hover{
  text-decoration: none;
}

.servive-block-grey {
  background: #cfcfcf;
}

.carousel-item {
    height: 32rem;
    background: black;
    color: rgb(255, 255, 255);
    position: relative;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

.container {
    position: absolute;
    bottom: 0;
    left: 200px;
    right: 0;
    padding-bottom: 50px;
}